fieldset {
	border: 0;
	padding: 2rem 0;
}

legend {
	width: 100%;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	$color: lighten($primary-color, 40%);
	color: $color;
	border-bottom: 1px solid $color;
}

label {
	color: $primary-color;
	text-transform: uppercase;
	font-size: 14px;
}
