@import './variables';

p {
    margin-bottom: 1rem;
}
  
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: $primary-color;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

h1 {
    margin: 2rem;
}

h2 {
    margin: 1.5rem 0;
}
