$primary-color: #3d4e60;
$error: #cb3232;
$success: #248a24;
$warning: #bebe19;
$disabled: #7d7d7d;
$white: #f1f1f1;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-desktop: 1200px;
